.gradient-custom {
    /* fallback for old browsers */
    background:  #5c7cf3;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #6170f3(106, 17, 203, 1), rgb(68, 130, 238));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #6170f3(106, 17, 203, 1), rgb(68, 130, 238))
    }