.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1em;
}
#logoAp{
  margin-left: 1em;
    width: 150px;}
img { width: 40px;}
/*para telefonos*/
@media(max-width: 575px){
  .container{
  flex-direction: column;
  }
  .redes{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .redes img{margin: 0.5em;}
}
