.row{
    padding: 20px;
}
div {
    background-color: #5c7cf3;
    text-align: left;
}
/*nombre*/
#nombre{
    font-weight: bold;
    margin-left: 10px;
}
/*foto de perfil*/
@media (min-width:576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
    }
}
#fotoperfil{
    width: 200px;
}