<div class="row">
    <h1> Hard & Soft skills</h1>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
     <circle-progress
        [percent]="70"
        [radius]="100"
        [title]="'HTLM'"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'violet'"
        [innerStrokeColor]="'pink'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>  
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="70"
           [radius]="100"
           [title]="'CSS'"
           [outerStrokeWidth]="14"
           [innerStrokeWidth]="5"
           [outerStrokeColor]="'violet'"
           [innerStrokeColor]="'pink'"
           [animation]="true"
           [animationDuration]="1000"
       ></circle-progress>  
       </div>
       <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="80"
           [radius]="100"
           [title]="'JS'"
           [outerStrokeWidth]="14"
           [innerStrokeWidth]="5"
           [outerStrokeColor]="'violet'"
           [innerStrokeColor]="'pink'"
           [animation]="true"
           [animationDuration]="1000"
       ></circle-progress>  
       </div>
       <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="90"
           [radius]="100"
           [title]="'Github'"
           [outerStrokeWidth]="14"
           [innerStrokeWidth]="5"
           [outerStrokeColor]="'violet'"
           [innerStrokeColor]="'pink'"
           [animation]="true"
           [animationDuration]="1000"
       ></circle-progress>  
       </div>
       <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="50"
           [radius]="100"
           [title]="'Ingles'"
           [outerStrokeWidth]="14"
           [innerStrokeWidth]="5"
           [outerStrokeColor]="'violet'"
           [innerStrokeColor]="'pink'"
           [animation]="true"
           [animationDuration]="1000"
       ></circle-progress>  
       </div>
       <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
           [percent]="100"
           [radius]="100"
           [title]="'Trabajo en equipo'"
           [outerStrokeWidth]="14"
           [innerStrokeWidth]="5"
           [outerStrokeColor]="'violet'"
           [innerStrokeColor]="'pink'"
           [animation]="true"
           [animationDuration]="1000"
       ></circle-progress>  
       </div>
</div>